In [25]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import random

In [4]:
#################################################################3 DATA PREP ########################################################################################
# we used 'https://books.toscrape.com/' since its a beginner friendly page


#This is the target URL
url = 'http://books.toscrape.com/'
base_url = "http://books.toscrape.com/catalogue/page-{}.html"
#Create a list to hold book data
books = []


for page in range(1,51):#here we will cycle through all the pages
    if page == 1:
        url
    else:
        url = base_url.format(page)
    
    #Here we are fetching the HTML
    response = requests.get(url) #This will go get the html page and return a '<Response [200]> ' if successful
        # print(response.status_code) #This retunrs a 200 if successful ad a 400 if failed
        # print(response.text) #this gets the htsm as a string 
        # print(response.content) # This provides the raw bytes of the page 
    soup = BeautifulSoup(response.text, 'html.parser') # Turns raw HTML into a Soup object, which behaves like a tree of HTML tags

    # Find all book containers on the page
    for book in soup.find_all("article", class_="product_pod"):                  #This is used to find all the book containers
        title = book.h3.a["title"]                                               #drilling down into the  <h3><a> tags to find the title
        price = book.find("p", class_="price_color").text.strip()                # Here we find the price for the book and then get the text, strip it, and remove the E
        price = price.replace("£", "").replace(",", "").replace('Â','')
        availability = book.find("p", class_="instock availability").text.strip() 
        rating = book.p["class"][1]                                              #This pulls the rating in a list ['star-rating', 'Three'] then we ask for index 1
    
        books.append({
            "Title": title,
            "Price (GBP)": float(price),
            "Availability": availability,
            "Rating": rating
        })
        
# Create a DataFrame
print('Done')

Done

In [5]:
df = pd.DataFrame(books)

# Add a new column for the row index
df['Row'] = df.index

In [7]:
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         1000 non-null   object
 1   Price (GBP)   1000 non-null   float64
 2   Availability  1000 non-null   object
 3   Rating        1000 non-null   object
 4   Row           1000 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 39.2+ KB

,Title,Price (GBP),Availability,Rating,Row
0,A Light in the Attic,51.77,In stock,Three,0
1,Tipping the Velvet,53.74,In stock,One,1
2,Soumission,50.10,In stock,One,2
3,Sharp Objects,47.82,In stock,Four,3
4,Sapiens: A Brief History of Humankind,54.23,In stock,Five,4
...,...,...,...,...,...
995,Alice in Wonderland (Alice's Adventures in Won...,55.53,In stock,One,995
996,"Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)",57.06,In stock,Four,996
997,A Spy's Devotion (The Regency Spies of London #1),16.97,In stock,Five,997
998,1st to Die (Women's Murder Club #1),53.98,In stock,One,998
999,"1,000 Places to See Before You Die",26.08,In stock,Five,999

In [8]:
# Here I will try to optimize the dataframe by changing the datatypes
#we will change the datatypes from object to category which will drop the memory usage.
df.nunique()

Title            999
Price (GBP)      903
Availability       1
Rating             5
Row             1000
dtype: int64

In [9]:
# Here we will drop the 'availaility' column too since all these books are instock so we dont need this info.
df.drop('Availability', axis=1, inplace =True) 
df['Rating'] = df['Rating'].astype('category')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        1000 non-null   object
 1   Price (GBP)  1000 non-null   float64
 2   Rating       1000 non-null   category
 3   Row          1000 non-null   int64
dtypes: category(1), float64(1), int64(1), object(1)
memory usage: 24.8+ KB

In [10]:
change = round(1-(24.8/39.2),2)*100
print('Memory was improved by '+ str(change)+'%')

Memory was improved by 37.0%

In [11]:
# Reordered the DF
df = df[['Row','Title','Rating','Price (GBP)']]
df.head(3)

   Row                 Title Rating  Price (GBP)
0    0  A Light in the Attic  Three        51.77
1    1    Tipping the Velvet    One        53.74
2    2            Soumission    One        50.10

In [12]:
# converting the Rating column to number
def convert_to_num(i):
    if i == 'One':
        return 1
    elif i == 'Two':
        return 2
    elif i == 'Three':
        return 3
    elif i == 'Four':
        return 4
    elif i == 'Five':
        return 5
    else:
        return 999

df['Rating'] = df['Rating'].apply(convert_to_num)

In [17]:
df[df['Rating']==999] #This is to ensure we do not have any missing data here or data that was not One -> Five

Empty DataFrame
Columns: [Row, Title, Rating, Price (GBP)]
Index: []

In [41]:
#this here is spliting these two tables up to simulate seperate tables and requring joins
title_info = df[['Row','Title']].copy()
rating_info = df[['Row','Rating']].copy()

In [42]:
# I will now clean NAS and this will be moved to an earlier step above

In [43]:
title_info

     Row                                              Title
0      0                               A Light in the Attic
1      1                                 Tipping the Velvet
2      2                                         Soumission
3      3                                      Sharp Objects
4      4              Sapiens: A Brief History of Humankind
..   ...                                                ...
995  995  Alice in Wonderland (Alice's Adventures in Won...
996  996   Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)
997  997  A Spy's Devotion (The Regency Spies of London #1)
998  998                1st to Die (Women's Murder Club #1)
999  999                 1,000 Places to See Before You Die

[1000 rows x 2 columns]

In [44]:
#here will will generate a random number for each one to simulate inventory counts
print(random.randint(1, 300))

def generate_inventory(i):
    return random.randint(1, 300)

inventory= title_info['Title'].apply(generate_inventory)
title_info['Inventory'] = inventory

177

In [45]:
title_info

     Row                                              Title  Inventory
0      0                               A Light in the Attic         28
1      1                                 Tipping the Velvet        257
2      2                                         Soumission        243
3      3                                      Sharp Objects        251
4      4              Sapiens: A Brief History of Humankind         48
..   ...                                                ...        ...
995  995  Alice in Wonderland (Alice's Adventures in Won...        219
996  996   Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)        184
997  997  A Spy's Devotion (The Regency Spies of London #1)        285
998  998                1st to Die (Women's Murder Club #1)        267
999  999                 1,000 Places to See Before You Die        201

[1000 rows x 3 columns]

In [74]:
datess = []
for i in range(0,1000):
    m = random.randint(1,12)
    d = random.randint(1,28)
    y = random.randint(2000,2025)
    datess.append(f"{m}/{d}/{y}")

In [75]:
title_info['date'] = datess

In [77]:
datess[0:5]

['6/22/2024', '1/21/2014', '1/9/2002', '12/18/2007', '5/8/2021']